* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgba(116, 137, 231, 0.934);
    align-items: center;
    justify-content: center;
}

.box {
    height: 500px;
    width: 300px;
    background-color: white;
    border-radius: 7px;
}

.content { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.box img {
    height: 70%;
    width: 100%;
    padding: 25px;
    object-fit: cover;
    /* object-position: top; */
    border-radius: 30px;
}
button {
    background-color: rgb(8, 145, 100);
    padding: 8px 10px;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: large;
    cursor: pointer;
}
h2 {
    color: red;
}
