*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    margin: 50px;;
}
.box{
    height: 60vh;
    width: 450px;
    background-color: grey;
    border-radius: 17px;

    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}
.sub{
    display: flex; 
    flex-direction: column;
    gap: 15px; 
}
input{
    display: flex; 
    flex-direction: column;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid black;
}
button{
    margin-top: 20px;
    font-size: 20px;
    padding: 3px 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(38, 14, 173, 0.713);
}