*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: #212529;
    color: white;
    padding: 25px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
.cart {
    background-color: #fff;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
    position: relative;
}
.cartAmount{
    font-size: 16px;
    position: absolute;
    top: -15px; 
    right: -10px;
    background-color: red;
    color: white;
    padding: 3px; 
    border-radius: 3px;
}

.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

@media (max-width: 1000px)
{
    .shop {
        grid-template-columns: repeat(2, 223px);
    }
}
@media (max-width: 500px)
{
    .shop {
        grid-template-columns: repeat(1, 223px);
    }
}
.item {
    border: 2px solid #212529;
    border-radius: 4px;
}

.item img {
    width: 100%;
    height: 210px;
    border-radius: 2px 2px 0 0;
    object-fit: cover;
    object-position: top;
}

.details {
    padding: 10px;
}
.price-quantity {
    display: flex;
    justify-content: space-between;
}
.buttons {
    display: flex;
    gap: 5px;
    font-size: 22px;
    font-weight: 80;
}

.bi-dash-lg{
    color: red;
}
.bi-plus-lg {
    color: green;
}
.bi-plus-lg:hover {
    cursor: pointer;
}
.bi-dash-lg:hover {
    cursor: pointer;
}


.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.HomeBtn, .checkout, .removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.checkout {
    background-color: green;
}
.removeAll {
    background-color: red;
}

.bi-x-lg {
    color: red;
    font-weight: bold;
}

.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
}

.cart-item {
    border: 2px solid #212529;
    border-radius: 5px;
    display: flex;
}
.title-price-x {
    width: 195px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.title-price {
    display: flex;
    align-items: center;
    gap: 10px;
}
.cart-item-price {
    background-color: #212529;
    color: #fff;
    border-radius: 4px;
    padding: 3px 6px;
}